.loginbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

/* Blur background using ::before */
.loginbody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px); /* You can adjust the blur amount */
    z-index: -1;
    transform: scale(1.1);
}


#paper1{
    padding: 30px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3); /* White with transparency */
    backdrop-filter: blur(1px);
  }
  
  .input {
    border-radius: 4px;
    height: 35px;
    padding-left: 5px;
    width: 55vh;
    border: none; 
    outline: none; 
    box-shadow: none;

  }
  
  .button {
    margin-top: 10px;
    /* padding: 30px; */
    height: 40px;
    border: none;
    border-radius: 40px;
    width: 25vw;
    background-color: #007bff !important;
    color: #fff !important;
  }
  
  .button:hover {
    background-color: #0056b3 !important;
  }
  
  .link {
    margin-top: 15px;
  }
  