.update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 0vh;
    background-color: black;
    padding: 50px 0;
  }
  
  .update-form {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .update-heading {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .update-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .update-file-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
  }
  
  .update-image-preview {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .update-button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  