/* Navbar.css */
.navbar {
    font-family: Arial, sans-serif;
    color: #000;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    height: 40px;
  }
  
  .tagline {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
  }
  
  .center-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .truck-icon {
    color: #8b5d4b;
  }
  
  .trendy-text {
    font-weight: bold;
    color: #5a1f1f;
margin-left: 250px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 2px solid #f5d97f;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 0px;
  }
  
  .search-box input {
    padding: 8px 15px;
    border: none;
    outline: none;
    width: 250px;
  }
  
  .search-box button {
    background-color: transparent;
    border: none;
    padding: 0 12px;
    color: #f5d97f;
    cursor: pointer;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .auth {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .icon {
    font-size: 18px;
    cursor: pointer;
  }
  
  .cart {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: gold;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
  }
  
  .bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1px 20px;
    
    margin-left: 60px;
    border-top: 1px solid #eee;
  }
  
  .nav-links {
    display: flex;
    gap: 95px;
    list-style: none;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .call-support {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #5a1f1f;
  }


 .nava:hover{
  color: yellow;
 }
 .search-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  margin-left: 400px;
  margin-top: -70px;
  left: 0;
  width: 550px;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  list-style: none;
  /* margin: 0;
  padding: 0; */
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
